فصل 14

صفحه 218

In [1]:
 import time

In [2]:
time.time()

1605177617.8485289

In [3]:
time.ctime()

'Thu Nov 12 14:10:35 2020'

In [4]:
time.ctime(0)

'Thu Jan  1 03:30:00 1970'

صفحه 219

In [5]:
time. localtime ()

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=12, tm_hour=14, tm_min=11, tm_sec=34, tm_wday=3, tm_yday=317, tm_isdst=0)

In [6]:
time.gmtime()

time.struct_time(tm_year=2020, tm_mon=11, tm_mday=12, tm_hour=10, tm_min=42, tm_sec=11, tm_wday=3, tm_yday=317, tm_isdst=0)

In [7]:
t = (2009, 2, 17, 17, 3, 38, 1, 48, 0)

In [8]:
time.mktime(t)

1234877618.0

In [9]:
time.localtime(1234877618.0)

time.struct_time(tm_year=2009, tm_mon=2, tm_mday=17, tm_hour=17, tm_min=3, tm_sec=38, tm_wday=1, tm_yday=48, tm_isdst=0)

In [10]:
time.strftime("%Y-%m-%d, %H:%M:%S")

'2020-11-12, 14:13:22'

In [11]:
time.strftime("%Y-%m-%d, %H:%M:%S", time.gmtime(2e9))

'2033-05-18, 03:33:20'

صفحه 220

In [12]:
time.strptime('2019-10-11',"%Y-%m-%d")

time.struct_time(tm_year=2019, tm_mon=10, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=284, tm_isdst=-1)

In [13]:
time.asctime(time.localtime())

'Thu Nov 12 14:14:29 2020'

In [14]:
time.daylight

1

صفححه 221

In [15]:
time.timezone

-12600

In [16]:
 time.tzname

('Iran Standard Time', 'Iran Daylight Time')

In [22]:
time.altzone

-16200

In [27]:
for i in range(3):
    print(time.strftime("%H:%M:%S +0000", time.gmtime()))
    time.sleep(5)

10:50:43 +0000
10:50:45 +0000
10:50:47 +0000

صفحه 22

In [31]:
import time
from threading import Timer
def print_time(c):
     print (f"From print_time {c}", time.time())

def print_some_times():
     n,end,lag=0,10,5
     while n<=end:
         Timer(lag*n, print_time, [n]).start()
         n+=1


print_some_times()

From print_time 0 1605179174.6929007
From print_time 1 1605179179.7119954
From print_time 2 1605179184.696246
From print_time 3 1605179189.7021713
From print_time 4 1605179194.695672
From print_time 5 1605179199.7008562
From print_time 6 1605179204.692911
From print_time 7 1605179209.6947324
From print_time 8 1605179214.7015996
From print_time 9 1605179219.7053568
From print_time 10 1605179224.6944613

In [32]:
from datetime import datetime,date,timedelta

In [33]:
#from datetime import *

In [34]:
from datetime import datetime
datetime.now()

datetime.datetime(2020, 11, 12, 14, 37, 42, 999044)

صفحه 223

In [35]:
datetime.utcnow()

datetime.datetime(2020, 11, 12, 11, 8, 17, 359211)

In [36]:
d=datetime(2014,11,25,3,56,45,1000)

In [37]:
d.year

2014

In [39]:
d.day

25

In [41]:
d.microsecond

1000

In [42]:
print (d.tzinfo)

None

In [43]:
type(d)

datetime.datetime

In [44]:
d.date()

datetime.date(2014, 11, 25)

In [48]:
from datetime import date,time,datetime
d = date(2006, 7, 14)
t = time(12, 30)
datetime.combine(d, t)

datetime.datetime(2006, 7, 14, 12, 30)

صفحه 224

In [49]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2020, 11, 12, 14, 43, 20, 137188)

In [50]:
now.strftime("%Y-%m-%d %H:%M:%S")

'2020-11-12 14:43:20'

In [51]:
dt = datetime.strptime("21/11/2006 16:30:47.5555", "%d/%m/%Y %H:%M:%S.%f")
dt

datetime.datetime(2006, 11, 21, 16, 30, 47, 555500)

In [52]:
str(dt)

'2006-11-21 16:30:47.555500'

In [53]:
dt.isoformat("-")

'2006-11-21-16:30:47.555500'

In [54]:
dt.strftime("%X")

'16:30:47'

In [55]:
dt.strftime("%x")

'11/21/06'

In [56]:
dt.strftime("%c")

'Tue Nov 21 16:30:47 2006'

In [57]:
dt.strftime("%d-%m-%Y %H:%M %a")

'21-11-2006 16:30 Tue'

In [58]:
dt.strftime("%A, %d. %B %Y %I:%M%p")

'Tuesday, 21. November 2006 04:30PM'

In [59]:
textStr = "On January the 5th of 2018 meet me at 5 PM"
dtm = datetime.strptime(textStr, "On %B the %dth of %Y meet me at %I %p")
print(dtm)

2018-01-05 17:00:00

صفحه 225

In [60]:
'The {1} is {0:%Y}, the {2} is {0:%d},the {3} is {0:%B}.'.format(dt, "year","day", "month")

'The year is 2006, the day is 21,the month is November.'

In [61]:
tt=dt.timetuple()
print(tt)

time.struct_time(tm_year=2006, tm_mon=11, tm_mday=21, tm_hour=16, tm_min=30, tm_sec=47, tm_wday=1, tm_yday=325, tm_isdst=-1)

In [62]:
for item in tt:
    print (item)

2006
11
21
16
30
47
1
325
-1

صفحه 226

In [64]:
from datetime import datetime
datetime.strptime("2004-123", '%Y-%j').strftime('%Y-%m-%d')

'2004-05-02'

In [65]:
from time import localtime
x = localtime()
datetime(*x[:7])

datetime.datetime(2020, 11, 12, 14, 50, 50, 3)

In [66]:
from datetime import datetime
dt=datetime(2007,1,23,3,45,32,100)
dt.toordinal()

732699

In [67]:
datetime.fromordinal(732699)

datetime.datetime(2007, 1, 23, 0, 0)

صفحه227

In [68]:
datetime.fromordinal(1)

datetime.datetime(1, 1, 1, 0, 0)

In [69]:
from datetime import datetime
du = datetime.fromtimestamp(1172969203.1)
print(du)

2007-03-04 04:16:43.100000

In [73]:
from time import mktime
mktime(du.timetuple())+1e-6*du.microsecond

1172969203.1

In [74]:
from datetime import timedelta
d5=timedelta(days=5)
d5

datetime.timedelta(days=5)

In [75]:
d = timedelta(microseconds=-1)
print (d.days, d.seconds, d.microseconds)

-1 86399 999999

صفحه 228

In [78]:
timedelta(hours=-5)
print(_)

5 days, 0:00:00

In [81]:
year = timedelta(days=365)
year.total_seconds()

31536000.0

In [80]:
another_year = timedelta(weeks=40, days=84, hours=23, minutes=50, seconds=600)

another_year

datetime.timedelta(days=365)

In [82]:
year == another_year

True

In [83]:
ten_years = 10 * year
ten_years, ten_years.days // 365
nine_years = ten_years - year
nine_years, nine_years.days // 365

(datetime.timedelta(days=3285), 9)

In [84]:
three_years = nine_years // 3
three_years, three_years.days // 365
abs(three_years - ten_years) == 2 * three_years + year

True

صفحه 
229
#pip install jdatetime

In [86]:
import jdatetime as jd

In [87]:
j=jd.GregorianToJalali(2001,2,23)
print (j.jyear,j.jmonth,j.jday)

1379 12 5

In [88]:
jyear,jmonth, jday=j.getJalaliList()
print(jyear,jmonth, jday)

1379 12 5

In [89]:
s=jd.JalaliToGregorian(1360,12,25)
print (s.gyear,s.gmonth,s.gday)

1982 3 16

تمرین عملی

مسئله 1

In [90]:
from datetime import date
import jdatetime as jd
def convert( year, month, day):
    datej=jd.JalaliToGregorian(year,month,day)
    dateg=date(*datej.getGregorianList())
    jday=dateg.timetuple().tm_yday
    f=dateg.strftime("day:%A, day numer in week: %w, and Julian day:%j")
    return f

صفحه 230

In [91]:
d=convert( 1379, 12, 29)

In [93]:
d

'day:Monday, day numer in week: 1, and Julian day:078'

صفحه 231

مسئله 2 : راه حل اول

In [97]:
import jdatetime as jd
from datetime import timedelta, datetime
import csv
td=timedelta(days=15)
date1=datetime(2011,1,1)
date2=datetime(2012,1,1)
with open('d:/dates.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(["row", "Jalali", "Gregory"])
    i=0
    while date1<date2:
        g=jd.GregorianToJalali(date1.year,date1.month,    date1.day)
        jdat=list(map(str,g.getJalaliList()))
        jdat="-".join(jdat)
        i+=1
        dates=[str(i), jdat, date1.strftime("%Y-%m-%d")]
        
        writer.writerow(dates)
        date1+=td

مسئله 2 : راه حل دوم

In [96]:
import jdatetime as jd
from datetime import timedelta, datetime
import csv
def date_range(start, end, delta):
    td=timedelta(days=15)
    d1=datetime.strptime( start,"%Y-%m-%d")
    d2=datetime.strptime( end,"%Y-%m-%d")
    lists=[]
    while d1<d2:
        g=jd.GregorianToJalali(d1.year,d1.month, d1.day)
        jdat=list(map(str,g.getJalaliList()))
        dates=["-".join(jdat), d1.strftime("%Y-%m-%d")]
        d1+=td
        lists.append(dates)
    return lists
dr=date_range("2011-1-1","2012-1-1",15)

with open('d:/dates.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(["index", "Jalali", "Gregory"])
    for  i in range(len(dr)):
        writer.writerow([str(i+1)]+dr[i])

مسئله 3

In [98]:
from datetime import date
import jdatetime as jd
today=date(2019,2,3)
birthday=jd.JalaliToGregorian(1365,5,17)
birthdayg=date(*birthday.getGregorianList())
delta=today-birthdayg
y=delta.days/365.25
print(y)

32.49007529089665

مسئله 4

In [100]:
from datetime import  datetime, timedelta
def age2date(age):
    bd=datetime.now()-age*timedelta(days=365.25)
    g=jd.GregorianToJalali(bd.year,bd.month,bd.day)
    return  (g.jyear, g.jmonth,g.jday),( g.gyear, g.gmonth,g.gday)
age2date(30)

((1369, 8, 22), (1990, 11, 13))

مسئله 5

In [102]:
import time
m=time.strptime('2019-12-11 11:46:3',"%Y-%m-%d %H:%M:%S")
m=time.mktime(m)
t=time.strptime('2019-12-11 12:18:44',"%Y-%m-%d %H:%M:%S")
t=time.mktime(t)
minutes=(m-t)/60
minutes

-32.68333333333333

In [103]:
m-t

-1961.0