فصل 8
صفحه
94

In [1]:
if 6<10:
    print("6 is lower than 10")

6 is lower than 10

In [2]:
no=6
if no <5:
    print (no,"is lower than 5")

فصل 8
صفحه
95

In [3]:
a=9
if a<10:
    print ("Value of a is less than 10")
else:
    print ("Value of a is greater than 10")

Value of a is less than 10

In [4]:
a=3
b=6

if a>b:
    print (a)
else:
    print (b)

6

فصل 8
صفحه
96

In [5]:
a=5
if a==6:
    print("Yes")
else:
    print ("No")

No

In [6]:
from datetime import datetime
hour = datetime.now().hour
if hour < 12:
    time_of_day = 'morning'
else:
     time_of_day = 'afternoon'
print ('Good %s, world!' % time_of_day)

Good afternoon, world!

فصل 8
صفحه
97

In [7]:
a=9
>>> if a<10:
	print ("a is less than ten.")
elif a< 9:
	print ("a is less than nine ")
elif a<2:
	print ("a is less than two")
else:
	print ("a is more than 10 or more")

a is less than ten.

In [8]:
a=7
if a<2:
	print ("a is lower than 2")
elif  2<a<8:
	print (" a is between 2 and 8")
elif a==9:
	print  ("a equals 9")
elif a>9:
	print ("a is greater than 9")

 a is between 2 and 8

In [9]:
if 3>2 and 2!=2:
	print ("two")
elif 3!=3 or 3==3:
	print ("three")

three

In [10]:
#NestedIF.py
age = int(input("Please enter your age: "))
if (age >= 12):
    print ("You are eligible to see the Football match.")
    if (age <= 20 or age >= 60):
        print("Ticket price is $15")
    else:
      print("Ticket price is $20")
else:
    print ("You're not eligible to buy a ticket.")

Please enter your age: 20
You are eligible to see the Football match.
Ticket price is $15

فصل 8
صفحه
100

In [12]:
colors=["Red","Blue","Green", "Black"]
>>> for c in colors:
	print (c)

Red
Blue
Green
Black

In [13]:
odd=0
even=0
for a in range(1,10):
	if a%2:
		odd+=1
		print(a, "is odd")
	else: 
		even+=1

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd

فصل 8
صفحه
101

In [14]:
print("Number of even numbers :",even)

Number of even numbers : 4

In [15]:
print("Number of odd numbers :",odd)

Number of odd numbers : 5

In [16]:
a = ["Mary", "had", "a", "little", "lamb"]
for i in range(len(a)):
    print (i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [17]:
>>> list(enumerate(a))

[(0, 'Mary'), (1, 'had'), (2, 'a'), (3, 'little'), (4, 'lamb')]

In [18]:
#FOR_IN_break.py
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print (n, 'equals', x, '*', n/x)
            break
        else:
            pass
    print (n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
4 is a prime number
5 is a prime number
6 equals 2 * 3.0
6 is a prime number
7 is a prime number
8 equals 2 * 4.0
8 is a prime number
9 equals 3 * 3.0
9 is a prime number

فصل 8
صفحه
102

In [19]:
nums=[11,13,14,5,7,9,6]
>>> if any([i%2==0 for i in nums]):
	print ("At least one is even")

At least one is even

In [20]:
if all([i>4 for i in nums]):
	print ("All values are more than 4")

All values are more than 4

فصل 8
صفحه
103

In [21]:
x=0
while (x < 5):
     print(x)
     x += 1

0
1
2
3
4

In [22]:
x = 10;
while (x < 5):
    print(x)
    x += 1
else:
    print (" x is ",x, ",nochange ")

 x is  10 ,nochange

فصل 8
صفحه
104

In [1]:
x=0
s=0
while (x < 10):  
    s = s + x  
    x = x + 1  
else :  
    print('The sum of first 9 integers : ',s)

The sum of first 9 integers :  45

In [1]:
x = 1
s = 0  
while (x < 10):
    s = s + x
    x = x + 1
    print("x",x)
    if (x == 5):
        break
    else :print('The sum of first 9 integers : ',s)

x 2
The sum of first 9 integers :  1
x 3
The sum of first 9 integers :  3
x 4
The sum of first 9 integers :  6
x 5

فصل 8
صفحه
105

i=0
while True:
    i+1
    if i==2:
        print("skiping")
        continue
    elif i==5:
        print("breaking")
        break
    print(i)

while True:
      pass

In [1]:
x=3
y=6
if not 2+2==x or y==6 and 8==9:
    print ( "Yes")
else:
    print ("No")

Yes

فصل 8
صفحه
106

In [6]:
for i in range(5):
    if i==3:
        print(i,"Broken")
        break
    else:
        print(i,"Unbroken")

0 Unbroken
1 Unbroken
2 Unbroken
3 Broken

فصل 8
صفحه
107

In [7]:
#NestedIF2.py
c= int(input("Please enter a number betwwen 0-360: "))
while c<0 or c>360:
    c= int(input("Please enter a number betwwen 0-360: "))
else:
    if c==0:
        print("Surface is flat")
    elif c < 45.:
        print("Aspet is north.")
    elif c < 135:
         print("Aspet is east.")
    elif c < 225:
         print("Aspet is south.")
    elif c<315:
        print ("Aspect is west")
    elif  c<=360:
         print("Aspet is north.")

Please enter a number betwwen 0-360: 389
Please enter a number betwwen 0-360: -1
Please enter a number betwwen 0-360: 0
Surface is flat

In [8]:
colors = ['red', 'yellow', 'blue']
>>> color_lines = []
>>> for color in colors:
     color_lines.append('{0}\n'.format(color))

فصل 8
صفحه
108

In [9]:
color_lines

['red\n', 'yellow\n', 'blue\n']

In [10]:
color_lines = ['{0}\n'.format(color) for color in colors if 'l' in color]
color_lines

['yellow\n', 'blue\n']

In [11]:
colors = ['red', 'yellow', 'blue']
clothes = ['hat', 'shirt', 'pants']
colored_clothes = ['{0} {1}'.format(color, garment) for color in colors for garment in clothes]

In [12]:
colored_clothes

['red hat',
 'red shirt',
 'red pants',
 'yellow hat',
 'yellow shirt',
 'yellow pants',
 'blue hat',
 'blue shirt',
 'blue pants']

In [14]:
for i in range(0,10,2):
	print(i)

0
2
4
6
8

In [15]:
for i in range(-1, -5, -1):
	print(i)

-1
-2
-3
-4

In [17]:
for i in range(70, 60):
    print(i)

فصل 8
صفحه
109

In [18]:
for i in range(10, 60, 70):
    print(i)

10

In [20]:
words=["hello", "world","spam","egss"]
for i in range(len(words)):
    print(words[i])

hello
world
spam
egss

In [21]:
k1=[ str(i) for  i in range(12)]
k1

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [22]:
k2=[ (str(i),str(i+k) )for  i,k in zip(range(6),range(6))]
k2

In [24]:
squares=[i **2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

فصل 8
صفحه
110

In [28]:
evenSq=[i **2 for i in range(5) if i%2==0]
print(evenSq)

[0, 4, 16]

even=[i*2 for i in range(10**100)]

In [1]:
even=(i*2 for i in range(10**2))

In [2]:
print(even)

<generator object <genexpr> at 0x0000026BD63D6948>

In [5]:
from itertools import count
counter = count(10)
nums= list(next(counter) for  i in range(11))
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
nums2= list(next(counter) for i in range(11))
nums2

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [7]:
cn5=count(10, .5)
n5= list(next(cn5) for i in range(11))
n5

[10, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0]

In [8]:
from itertools import cycle
c=cycle("abc")
[next(c) for i in range(10)]

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a']

In [9]:
from itertools import repeat
repeat(2, 5)

repeat(2, 5)

In [10]:
list(repeat(2, 5))

[2, 2, 2, 2, 2]

In [13]:
from itertools import chain
L1 = ['a', 'b', 'c']
L2 = ['d', 'e', 'f']

فصل 8
صفحه
112

In [18]:
chained = chain(L1, L2)

In [19]:
chained

In [20]:
list(chained)

['a', 'b', 'c', 'd', 'e', 'f']

In [22]:
L1 = ['a', 'b', 'c']
L2 = ['d', 'e', 'f']
L1.extend(l2)
L1

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
from itertools import takewhile
nums=range(10)
print(list(takewhile(lambda x:x<=6,nums)))

[0, 1, 2, 3, 4, 5, 6]

In [24]:
from itertools import accumulate
ac=accumulate([1, 2, 3,4,5])
list(ac)

[1, 3, 6, 10, 15]

In [25]:
import operator
ac=accumulate([1, 2, 3, 4,5], operator.add)
list(ac)

[1, 3, 6, 10, 15]

فصل 8
صفحه
113

In [26]:
ac=accumulate([1, 2, 3, 4,5], operator.mul)
list(ac)

[1, 2, 6, 24, 120]

In [27]:
ac=accumulate([45, 23, 4, 10,5], operator.sub)
list(ac)

[45, 22, 18, 8, 3]

In [36]:
from itertools import groupby
nums=[1,1,1,2,3,3,3,2,2,2,4,4]
grp=groupby(nums)

In [37]:
for g , v in grp:
    print(g, list(v))

1 [1, 1, 1]
2 [2]
3 [3, 3, 3]
2 [2, 2, 2]
4 [4, 4]

In [38]:
data = [{'month': 'Jan', 'T': 18},{'month': 'Feb', 'T': 20},{'month': 'Jan', 'T': 17},{'month': 'Feb', 'T': 21}, {'month': 'Jan', 'T': 16.5},{'month': 'Feb', 'T': 18}]
from collections import defaultdict
df=defaultdict(list)
grp = groupby(data,key=lambda x: x['month'])
for k , g in grp:
    df[k].append(list(g)[0]["T"])

In [39]:
df["Jan"]

[18, 17, 16.5]

فصل 8
صفحه
114

In [40]:
from itertools import product
letters=["A","B","C"]
print(list(product(letters,range(2))))

[('A', 0), ('A', 1), ('B', 0), ('B', 1), ('C', 0), ('C', 1)]

In [41]:
list(product(letters,letters))

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

In [44]:
from itertools import permutations
print(list(permutations(letters,2)))

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [47]:
from itertools import  combinations
list(combinations(letters,2))

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [48]:
from itertools import combinations_with_replacement
cwr=combinations_with_replacement(letters,2)
list(cwr)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

فصل 8
صفحه
115

In [49]:
theta_e = 0.486
psi = 16.7
K = 0.65
S_e = 0.3
t = 1
dtheta = (1-S_e)*theta_e
F_old = K*t
epsilon = 1
F = []
import math
while epsilon > 1e-4:
	F_new = psi*dtheta * math.log(1+F_old/(psi*dtheta)) + K*t
	epsilon = F_new - F_old
	F_old = F_new
	F.append(F_new)

In [51]:
F[-1]

3.1670531257440495