فصل 11
صفحه
151

In [1]:
def sayhi():
	print ('Hello World')

In [2]:
sayhi()

Hello World

فصل 11
صفحه
152

In [3]:
h= sayhi ()

Hello World

In [4]:
print(h)

None

In [5]:
def add(a,b):
	return a+b

In [6]:
c=add(2,4)
print (c)

6

In [7]:
add(2)

TypeError: add() missing 1 required positional argument: 'b'

In [8]:
t=add(b=3,a=4)
t

7

فصل 11
صفحه
153

In [9]:
def wein(w, c=2897):
	return c/w

In [10]:
wein(300)

9.656666666666666

فصل 11
صفحه
154

In [11]:
def size(p,d=0.05, N=None,z=1.96):
	q=1-p
	if N:
		return (N*z**2*p*q)/(N*d**2+z**2*p*q)
	else:
		return (z**2*p*q)/(d**2)
	
size(0.5)
384.1599999999999

384.1599999999999

In [12]:
size(0.5,N=2000)

322.26025098986634

In [13]:
size(0.5,.1,1000)

87.62453925039229

In [14]:
size()

TypeError: size() missing 1 required positional argument: 'p'

فصل 11
صفحه
155

In [16]:
def slope(point1,point2):
    x1,y1=point1
    x2,y2=point2
    dY=y2-y1
    dX=x2-x1
    slope=dY/dX
    dist=(dY**2+dX**2)**0.5
    from math import atan, degrees
    angle=atan(slope)
    degree=degrees(angle)
    return slope*100,dist, degree

فصل 11
صفحه
156

In [17]:
p1=2,5
p2=4,9
slop, dist, deg=slope(p1,p2)
print( slop, dist, deg)

200.0 4.47213595499958 63.43494882292201

In [18]:
def avg(first, *rest):
    return (first + sum(rest)) / (1. + len(rest))

In [19]:
avg(1,2,3,4,5)

3.0

In [20]:
def funcVar(*args, **kwargs):
	print ('args:', args)
	print ('kwargs:', kwargs)
funcVar ('simple')

args: ('simple',)
kwargs: {}

In [21]:
funcVar(type='Complex')

args: ()
kwargs: {'type': 'Complex'}

فصل 11
صفحه
157

In [23]:
def mixFunc (a, b, c=None, *args, **kwargs):
	print ('(a, b, c):', (a, b, c))
	print ('args:', args)
	print ('kwargs:', kwargs)
mixFunc (1, 2, 3, 4, 5, d=10, e=20)

(a, b, c): (1, 2, 3)
args: (4, 5)
kwargs: {'d': 10, 'e': 20}

In [25]:
def printer(a, b, c=0, d=None):
 	print ('a: {0}, b: {1}, c: {2}, d: {3}'.format(a, b, c, d))
printer(2, 3, 4, 5)

a: 2, b: 3, c: 4, d: 5

فصل 11
صفحه
158

In [27]:
ordered_args = (5, 6)
keyword_args = {'c': 7, 'd': 8}
printer(*ordered_args, **keyword_args)

a: 5, b: 6, c: 7, d: 8

In [28]:
def area(*args,**kwargs):
	if len(args)==1:
		r=args[0]
		print("shape is circle")
		A=kwargs["pi"]*r**2
		return A
	elif len(args)==2:
		a,b=args
		print("shape is square")
		return a*b
	elif len(args)==3:
		a,b,c=args
		print("shape is triangular")
		s=sum(args)/2
		A=(s*(s-a)*(s-b)*(s-c))**0.5
		return A

In [29]:
area(11,3)

shape is square
shape is triangular

61.48170459575759

In [30]:
area(11,pi=3.1)

shape is circle

375.1

In [31]:
area(11,12,13)

shape is triangular

61.48170459575759

فصل 11
صفحه
159

In [32]:
def mean(x):
	return sum(x)/len(x)

In [33]:
def std(x,dfd=1):
	m=mean(x)
	n=len(x)-dfd
	var= [(i-m)**2/n for i in x]
	return sum(var)**.5

In [34]:
rain=[13,5, 7, 0, 16]
m=mean(rain)
s=std(rain)

In [35]:
print('f mean: {m} ,std: {s}' )

  f mean: {m} ,std: {s}

In [36]:
import statistics
statistics.mean(rain)
statistics.stdev(rain)

6.3796551630946325

In [37]:
def add_items(new_items, base_items=[]):
	for item in new_items:
		base_items.append(item)
	return base_items
add_items((1, 2, 3))

[1, 2, 3]

In [38]:
add_items((4,6,7))

[1, 2, 3, 4, 6, 7]

In [40]:
def add_items(new_items, base_items=None):
	if base_items is None:
		base_items = []
	for item in new_items:
		base_items.append(item)
	return base_items
add_items((1, 2, 3))

[1, 2, 3]

In [41]:
add_items((4,6,7))

[4, 6, 7]

فصل 11
صفحه
161

In [42]:
def add2(x):
	return x+2
add2(5)

In [43]:
addTwo=lambda x:x+2

addTwo(5)

7

In [45]:
def deep_scope():
	if True:
		if True:
			if True:
				x = 5
	return x
deep_scope()

5

فصل 11
صفحه
162

In [46]:
def oops(letter):
	if letter == 'a':
		out = 'A'
	return out
oops('a')

'A'

In [47]:
def function_local(a):
	print (a)
function_local(50)

50

In [48]:
print(a)

NameError: name 'a' is not defined

In [49]:
def function_local(a):
	global b
	b=a

function_local(12)

In [50]:
def outside():
	a=10
	def inside():
		a=2
		print("Inside a ->", a)
	inside()
	print("outside a->", a)
outside()

Inside a -> 2
outside a-> 10

In [51]:
def outside():
       a = 10
       def inside():
              nonlocal a
              a = 20
              print("The value of a in inside() function - ", a)
       inside()
       print("The value of a in outside() function -  ", a)
outside()

The value of a in inside() function -  20
The value of a in outside() function -   20

In [ ]:
# -*- coding: cp1256 -*-

فصل 11
صفحه
164

In [52]:
# This is a comment

In [53]:
def f(x):
	"""This is a function that adds 2 to each number
                      for example:
                       y=f(12)
                       you will get
                       14 """
	x=x+2
	return x

In [54]:
print(f.__doc__)

This is a function that adds 2 to each number
                      for example:
                       y=f(12)
                       you will get
                       14

In [55]:
def a_object(x):
	return x
a_object(a_object)

فصل 11
صفحه
166

In [56]:
def second_element(t):
      return t[1]
zepp = [('Guitar', 'Jimmy'), ('Vocals', 'Robert'), ('Bass', 'John Paul'), ('Drums', 'John')]
sorted(zepp)

[('Bass', 'John Paul'),
 ('Drums', 'John'),
 ('Guitar', 'Jimmy'),
 ('Vocals', 'Robert')]

In [57]:
sorted(zepp, key=second_element)

[('Guitar', 'Jimmy'),
 ('Drums', 'John'),
 ('Bass', 'John Paul'),
 ('Vocals', 'Robert')]

In [58]:
 func1=lambda x,y:x+y

In [59]:
def call_func(f, *args):
    return f(*args)

In [60]:
call_func(func1,2,4)

6

In [61]:
import operator
call_func( operator.add,2,4)

6

فصل 11
صفحه
167

In [62]:
def celsius(T):
    return (float(5)/9)*(T-32)

In [63]:
temp = (25.5, 34, 46.5,46)

In [64]:
f=list(map(celsius,temp))
print (f)

[-3.611111111111111, 1.1111111111111112, 8.055555555555555, 7.777777777777779]

In [65]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]

In [66]:
list(map(lambda x,y:x+y, a,b))

[18, 14, 14, 14]

In [67]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[17, 10, 19, 23]

In [69]:
list(map(lambda x,y,z:x+y-z, a,b,c))

[19, 18, 9, 5]

In [70]:
nums1=[3,4,2,4]
nums2=[5,2,5,1]
product=map(lambda x,y:x*y, nums1,nums1)
sumproduct=sum(product)
print(sumproduct)

45

فصل 11
صفحه
168

In [71]:
def powers(x):
	return x**2, x**3,x**4
y=[1.0,2.0,3.0,4.0]
list(map(powers,y))

[(1.0, 1.0, 1.0), (4.0, 8.0, 16.0), (9.0, 27.0, 81.0), (16.0, 64.0, 256.0)]

In [72]:
def powers(x,y):
	return x**2, x*y, y**2

In [73]:
x = [10, 20]
y = [11, 22, 33, 44]
list(map(powers, x, y))

[(100, 110, 121), (400, 440, 484)]

In [74]:
x=range(35)

In [75]:
result = filter(lambda x: x % 2, x)

In [77]:
 list(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [78]:
result = filter(lambda x: x % 2==0, x)

In [79]:
 list(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

فصل 11
صفحه
169

In [80]:
nums=[23,26,32,45,56]
result=list(filter(lambda x:x%2==0,nums))
print (result)

[26, 32, 56]

In [81]:
x = [10, 20, 30]
y = [11, 22, 33, 44]
list(zip(x, y))

[(10, 11), (20, 22), (30, 33)]

In [82]:
from functools import reduce
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

فصل 11
صفحه
170

In [83]:
Add= lambda x, y: x+y
reduce(Add, range(1,101))

5050

In [84]:
from operator import mul
from functools import reduce
def multiply(*args): 
                return reduce(mul, args)
multiply(2,4,5)

40

In [85]:
def factorial(x):
		if 0<=x<1:
			return 1
		return x*factorial(x-1)

فصل 11
صفحه
171

In [86]:
print(factorial(5))

120

In [87]:
factorial(0)

1

In [88]:
def sum_add(x):
	if x==1:
		return 1
	else:
		return x+ sum_add(x-1)

In [89]:
sum_add(10)

55

In [90]:
def fib(x):
	if x==0:
		return 0
	if x==1:
		return 1
	else:
		return fib(x-1)+fib(x-2)
fib(10)

55

فصل 11
صفحه
172

In [91]:
def factorial(x):
	return x*factorial(x-1)

In [92]:
#factorial(6)

In [93]:
def factorial(x):
	if x==1:
		return 1
	return x*factorial(x-1)

factorial(6)

720

فصل 11
صفحه
173

In [94]:
from cmath import sin, sqrt, pi, exp
p = [676.5203681218851
    ,-1259.1392167224028
    ,771.32342877765313
    ,-176.61502916214059
    ,12.507343278686905
    ,-0.13857109526572012
    ,9.9843695780195716e-6
    ,1.5056327351493116e-7]

EPSILON = 1e-07  
def drop_imag(z):
    if abs(z.imag) <= EPSILON:
        z = z.real
    return z
    
def gamma(z):
    z = complex(z)
    if z.real < 0.5:
        y = pi / (sin(pi*z) * gamma(1-z)) ### Reflection formula 
    else:
        z -= 1
        x = 0.99999999999980993
        for (i, pval) in enumerate(p):
            x += pval / (z+i+1)
        t = z + len(p) - 0.5
        y = sqrt(2*pi) * t**(z+0.5) * exp(-t) * x
    return drop_imag(y)

In [95]:
def is_even(x):
	if x==0:
		return True
	else:
		return is_odd(x-1)
def is_odd(x):
	return  not is_even(x)
is_even(4)

True

In [96]:
is_odd(5)

True

فصل 11
صفحه
174

In [103]:
def findSum(arr, N): 
    if len(arr)== 1: 
        return arr[0] 
    else: 
        return arr[0]+findSum(arr[1:], N) 

a=[1,2,4,6]
n=len(a)
findSum(a,n)

13

In [104]:
def countdown():
	i=5
	while i>0:
		yield i
		i-=1
for i in countdown():
	print(i)

5
4
3
2
1

In [105]:
def numbers(x):
	for i in range(x):
		yield i
print(list(numbers(16)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

فصل 11
صفحه
175

In [106]:
def evens(x):
	for i in range(x):
		if i%2==0:
			yield i
print(list(evens(16)))

[0, 2, 4, 6, 8, 10, 12, 14]

In [107]:
def gen1():
	while True:
		yield 8

In [1]:
#for i in gen1():
#	print(i)

فصل 11
صفحه
176

In [2]:
def pascal():
	row=[1]
	while True:
		yield row
		row=[i+j for i,j in zip(row+[0],[0]+row)]    
can=pascal()

kick=next
k=[kick(can) for i in range(5)]	     
for i in k:
    print(i)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [3]:
can=pascal()
k=[next(can) for i in range(24)]
k[23][20]

1771

In [4]:
from collections import deque
>>> import itertools
>>> def moving_average(iterable, n=3):
	"""moving_average([40, 30, 50, 46, 39, 44])-->40.0 42.0 45.0 43.0"""
	it = iter(iterable)
	d = deque(itertools.islice(it, n-1))
	d.appendleft(0)
	s = sum(d)
	for elem in it:
		s += elem - d.popleft()
		d.append(elem)
		yield s / float(n)
list(moving_average([40, 30, 50, 46, 39, 44]))

[40.0, 42.0, 45.0, 43.0]

In [5]:
list(moving_average([40, 30, 50, 46, 39, 44], n=4))

[41.5, 41.25, 44.75]

فصل 11
صفحه
177
تمرین عملی
1